#footer {
	width: 100%;
	height: 100px;
	background-color: $green;
	color: white;
  @include flex(column, center, center);

	@include laptop{
		height: 250px;
	}
}

#footer-main {
	width: 80%;
	display: flex;
	justify-content: space-between;
  @include flex(row, space-between, center);

	@include laptop{
		@include flex(column, center, center);
	}
}

.social {
	img {
		width: 50px;
		border-radius: 10px;
		margin: 5px;
	}
}
