// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
// COLORS
$green: #6ABD47;
$blue: #9CE5E5;

// BREAKPOINTS
$desktop: 1100px;
$laptop: 950px;
$tablet: 650px;
$mobile: 300px;

// MARGINS
$text-margin: 30px;
$section-margin: 100px;

// FONT
$archivo: 'Archivo', sans-serif;
$archivo-narrow: 'Archivo Narrow', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$shippori-mincho: 'Shippori Mincho B1', sans-serif;

// FONT SIZES
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 25px;
$p: 19px;
$small: 15px;

// $main-title: 50px;
// $sub-title: 40px;
// $h3: 30px;
// $paragraph: 20px;
// $small: 15px;
