h1 {
  font-family: $archivo;
  font-size: $h1;
  font-weight: 450;
  letter-spacing: 1px;
  line-height: 1.2;
}

h2 {
  font-family: $archivo-narrow;
  font-size: $h2;
  font-weight: 700;
  letter-spacing: 3px;
}

h3 {
  font-family: $archivo-narrow;
  font-size: $h3;
  font-weight: 300;
  letter-spacing: 1px;
}

h4 {
  font-family: $archivo-narrow;
  font-size: $h4;
  letter-spacing: 1px;
  font-weight: 300;
}

p {
  font-family: $open-sans;
  font-size: $p;
  line-height: 1.5;
}

li {
  font-family: $archivo-narrow;
}

a {
  text-decoration: none;
  font-family: $archivo-narrow;
  letter-spacing: 1px;
  color: black;
  font-size: $h4;
}

body {
  padding: 0;
  margin: 0;
}
